# From Excel to Python: Using Pandas for Data Analysis

## Trista McKenzie 

### Dept. of Earth Sciences Tech Seminar

### October 28, 2019

## Why use Python Pandas over Microsoft Excel?
- Faster
- Less prone to human/software error
- Free
- More complicated analyses are easy to do

## Quick Python Tutorial

#### Installation & Running Python:
- [Anaconda Navigator](https://www.anaconda.com/)
- [Google Colaboratory (Colab)](https://colab.research.google.com)

#### Python's Library (HUGE!)
- composed of *packages*
- Pandas is an example of a Python package

## Importing packages into Python

Packages need to be imported - let's open Google Colab and do this now

In [0]:
import pandas as pd

## What is Pandas?

Pandas = Python Data Analysis Library

Data Structures:

- [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html): like a single column or row in Excel
- [Data Frames](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html): like the entire spreadsheet

In [0]:
# creating a Series

s1 = (1, 2, 3)
s2 = (3, 4, 5)

series = pd.Series(s1)

print(series)

0    1
1    2
2    3
dtype: int64

In [0]:
# creating a DataFrame

df = pd.DataFrame([s1,s2])

print(df)

   0  1  2
0  1  2  3
1  3  4  5

## Pandas Data Types

<table style="width:90%">
  <tr>
    <th>Data Type</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>object</td>
    <td>strings (letters)</td>
  </tr>
  <tr>
    <td>int64</td>
    <td>integers</td>
  </tr>
    <tr>
    <td>float64</td>
    <td>floats (numbers with decimal points)</td>
  </tr>
    <tr>
    <td>bool</td>
    <td>Boolean (true/false)</td>
  </tr>
    <tr>
    <td>datetime64</td>
    <td>Date and Time</td>
  </tr>
</table>

In [0]:
# data types

df.dtypes

0    int64
1    int64
2    int64
dtype: object

In [0]:
# creating another DataFrame with strings and integers

s3 = ('a', 'b', 'c')
s4 = (7, 8, 9)

df2 = pd.DataFrame([s3,s4])

print(df2)

   0  1  2
0  a  b  c
1  7  8  9

In [0]:
df2.dtypes

0    object
1    object
2    object
dtype: object

## Loading and Saving External Files


**[Loading an Excel file](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)**
```
df = pd.read_excel('filepath/filename', sheet_name ='sheet name')

```

**[Loading a CSV file](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)**
```
df = pd.read_csv('filepath/filename')

```

**[Saving an Excel file](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html)**
```
df.to_excel('filepath/filename')

```

**[Saving a CSV file](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html#pandas.DataFrame.to_csv)**
```
df.to_csv('filepath/filename')

```

## Viewing and Inspecting Data

**[First n rows](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html#pandas.DataFrame.head)**

df.head(n)

**[Last n rows](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html#pandas.DataFrame.tail)** 

df.tail(n)

**[Number of rows and columns](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html#pandas.DataFrame.shape)** 

df.shape

**[Index, datatype, memory info](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html)** 

df.info()

## Example: Mauna Loa Monthly Average $CO_2$ dataset

Download file here

Source: [NOAA Earth System Research Laboratory Global Monitoring Division](https://www.esrl.noaa.gov/gmd/ccgg/trends/data.html)(downloaded 10/17/19)

**Tasks**:
- load csv 
- view first 5 rows 
- view last 5 rows

In [0]:
CO2 = pd.read_csv("co2_mm_mlo.csv")
CO2.head(5)
CO2.tail(5)

## Indexing

## Data Selection

In [0]:
# Selection

# select by column
df[col]
df[[col1, col2]]

# select by position
s.iloc[0]

# select by index
s.loc['index_one']

# select by first element of first column
df.iloc[0,0]

In [0]:
# Viewing and inspecting data

# first n rows
df.head(n)

# last n rows
df.tail(n)

# number of rows and columns
df.shape

# index, datatype, memory info
df.info()

# view unique values and counts for a series
s.value_counts(dropna = False)

# basic summary stats
df.describe()

df.mean()
df.corr() # correlation between columns
df.count()
df.max()
df.min()
df.median()
df.std()

In [0]:
CO2.head(5)

   Year  Month      Date  CO2_avg
0  1958      3  1958.208   315.71
1  1958      4  1958.292   317.45
2  1958      5  1958.375   317.50
3  1958      6  1958.458   -99.99
4  1958      7  1958.542   315.86

In [ ]:
CO2.tail(5)

In [0]:
# create a new column and convert to datetime format
CO2['Date'] = pd.to_datetime(CO2[['Year', 'Month']].assign(Day = 1))

# indexing by time stamp
CO2.set_index(data['Date'], inplace = True)

CO2.head(5)

            Year  Month       Date  CO2_avg
Date
1958-03-01  1958      3 1958-03-01   315.71
1958-04-01  1958      4 1958-04-01   317.45
1958-05-01  1958      5 1958-05-01   317.50
1958-06-01  1958      6 1958-06-01   -99.99
1958-07-01  1958      7 1958-07-01   315.86

In [0]:
# Filter, Sort, and Groupby

# sort column values into ascending order
df.sort_values(col1)

# sort column values into descending order
df.sort_values(col1, ascending = False)

# filtering (only column values with year greater than 2016)
df[df[year] > 2016]

is_charter = sy1617['school_type'] == 'Charter'
sy1617[is_charter]

# groupby

df.groupby(col)

In [0]:
# Data Cleaning

pd.isnull()
df.dropna() # drop rows
df.dropna(axis = 1) # drop columns

df.fillna(x)

# renaming columns

df.rename (columns = {'old_name': 'new_name'})
df.sex_index('column_one')

In [0]:
# Join/Combine

# add the rows in df1 to the end of df2 (must have identical columns)
df1.append(df2)

# add the columns in df1 to the end of df2 (must have identical rows)
df.concat([df1, df2], axis = 1)

In [0]:
# emulating Pivot Tables


pd.pivot_table(sy1617, values = 'School_Survey_Student_response_rate_pct', index = 'School_Type', columns = ['Primary_Catergory'], aggfunc = np.mean)

In [0]:
# emulating VLOOKUP

#VLOOKUP searches for a specific value in a range of cells and then returns a value that lies int he same row as where the value is found

# read in the csv for prior year's data
sy1516 = pd.read_csv('Chicago_Public_Schools_-_School_Progress_Reports_SY1516.csv', index_col='School_ID')
sy1617_short = sy1617[['Student_Attainment_Rating', 'Long_Name']]
sy1516_short = sy1516[['Student_Attainment_Rating']]
pd.merge(sy1516_short, sy1617_short, how='right', left_index=True, right_index=True, suffixes=('_1516','_1617'))

sy1617_short.join(sy1516_short, how='left', lsuffix='_1617', rsuffix='_1516')

In [0]:
# basics

# sums
df['total'] = df['Jan'] + df['Feb'] + df['Mar']

In [0]:
# Time Series

# 2. Manipulating time series in Pandas Part 1

Now that we have an understanding of the basic concepts of a time series, how does one work with them? Building off of the Data Wrangling in Pandas module, we will be using the  `Pandas` Python package  to format and analyze time series in this module.

Time series can be comprised of the following elements:

*   *time stamps*: refer to a specific instant in time (example: January 2, 2018 at 4:04pm).

*   *time intervals*: refer to a length of time between a specific start and stop point (example: the month of January 2018). A *period* refers to a specific instance of a time interval where intervals are of fixed length and do not overlap with one another (example: 60 minute periods that consist of hours).

*   *time deltas/durations*: refer to a precise length of time (example: 1 hour 30 minutes and 33 seconds)


Time series elements can be created in the Python package  `Pandas` used in conjunction with the `datetime` library. The `datetime` libary allows for the specification of time.

### Time Stamps

A **time stamp**  element in `Pandas` can be created using the following syntax:

`pd.Timestamp()`
 

The time stamp 'January 2, 2018' can be specified with `Pandas` in one of three ways:

 `1. pd.Timestamp(datetime(2018, 1, 2))`

`2. pd.Timestamp('2018-01-02')`

`3. pd.Timestamp(2018, 1, 2)`


In each of the above examples, the year is specified first, the month second, and the day last. Let's try coding these and see if they give the same result:

In [0]:
# time stamps in pandas
# import libraries
import pandas as pd
from datetime import datetime

# create a time stamp element in pandas
timestamp1 = pd.Timestamp(datetime(2018, 1, 2))
print(timestamp1)

timestamp2 = pd.Timestamp('2018-01-02')
print(timestamp2)

timestamp3 = pd.Timestamp(2018, 1, 2)
print(timestamp3)

Indeed, all three methods give the same result. What if you wanted to specify time, in addition to the date? 

This can be easily done using the same techniques as above, just with additional information about the hour, minute, and second. If need be, one can specify up to microseconds.

The time stamp 'January 2, 2018 4:04:00 pm' can be specified with `Pandas` as follows:

1.  `pd.Timestamp(datetime(2018, 1, 2, 16, 4, 0))`

2.  `pd.Timestamp('2018-01-02 16:04:00')`

3.   `pd.Timestamp(2018, 1, 2, 16, 4, 0)`


Once again, let's try coding these to see if they give the same result:

In [0]:
# time stamp elements in pandas (cont)
timestamp4 = pd.Timestamp(datetime(2018, 1, 2, 16, 4, 0))
print(timestamp4)

timestamp5 = pd.Timestamp('2018-01-02 16:04:00')
print(timestamp5)

timestamp6 = pd.Timestamp(2018, 1, 2, 16, 4, 0)
print(timestamp6)

### Time Intervals

A **time interval** element in `Pandas` can be created using the following syntax:

 `pd.Period()`
 


The time interval 'January 2018' can be specified with pandas in one of two ways:

1.   `pd.Period('2018-01')`

2.   `pd.Period('2018-01', freq = 'M')```


Where 'freq' refers to the frequency of the interval. The default in this case is month, or M, but one can pick a different frequency, such as D for day, as appropriate. Let's try coding these and see if they give the same result:

In [0]:
# period elements in pandas

period1 = pd.Period('2018-01')
print(period1)

period2 = pd.Period('2018-01', freq = 'M')
print(period2)

`Pandas` has the following aliases for the specified periods:

<center><table>
  <tr>
    <td><b>Period</b></td>
    <td><b>Frequency</b></td>
  </tr>
  <tr>
    <td>hour</td>
    <td>H</td>
  </tr>
  <tr>
     <td>day</td>
     <td>D</td>
  </tr>
  <tr>
     <td>week</td>
     <td>W</td>
  </tr>
  <tr>
     <td>month</td>
     <td>M</td>
  </tr>
  <tr>
     <td>year</td>
     <td>Y</td>
  </tr>
</table></center>

The `datetime` module offers multiple classes that may be useful to you, depending on the dataset you are working on. The ones you may find more useful are summarized in the following table:

<center><table style = "width: '95%;">
  <tr>
    <td><b>Class</b></td>
    <td><b>Description</b></td>
    <td><b>Attributes</b></td>
  </tr>
  <tr>
    <td>`datetime.date`</td>
    <td>specifies the date</td>
    <td>`year`, `month`, `day`</td>
   </tr>
   <tr>
    <td>`datetime.time`</td>
    <td>specifies the time</td>
    <td style="word-wrap: break-word;">
      `hour`, `minute`, `second`, `microsecond`, `tzinfo`
     </td>
   </tr>
   <tr>
    <td>`datetime.datetime`</td>
    <td>specifies the date and time</td>
    <td style="word-wrap: break-word;">
      `year`, `month`, `day`, `hour`, `minute`, `second`, `microsecond`, `tzinfo`
     </td>
   </tr>
</table></center>

### Time Deltas

A **time delta** element can be created in serveral ways, including:

1. Specifying two `date`, `time`, or `datetime` elements and then using the `timedelta` class in the `datetime`  module to find the difference between the elements (i.e. the time delta).

2. Finding the difference between two date, time, or `datetime` elements.

A time delta element is specified with the following syntax, where time increments can be specified from microseconds to weeks:

`datetime.timedelta(days, seconds, microseconds, milliseconds, minutes, hours, weeks)`

Let's try using the `timedelta` function to shift today's date and time to yesterday.

In [0]:
# shifting time with the timedelta function

from datetime import timedelta
from datetime import date

yesterday = today - timedelta(days = 1)

print(yesterday)

In [0]:
# time delta between two datetime objects using arithmetic

t1 = pd.Timestamp(datetime(2018, 1, 2, 16, 4, 0))
t2 = pd.Timestamp(datetime(2017, 2, 5, 14, 2, 5))

timedelta = t1 - t2

print(timedelta)

In [0]:
# converting string data to datetime format

datetime_conv = pd.to_datetime(pd.Series(['Jan 01, 2018', '2018-12-31']))
print(datetime_conv)

# importing a series object and converting to datetime format

## Indexing

Previously we have used the default `Pandas` index with our time series objects. One of the neat functunalities of using `Pandas` for time series data, is that you can also index your data by time stamps. This is most easily done using the `DatetimeIndex` function.

Let's create a `DateFrame` and use `DatetimeIndex` to create an index using time stamps.

In [0]:
# indexing by time stamp

index = pd.DatetimeIndex(['2018-01-01','2018-01-02','2018-01-03', '2018-01-04',
                          '2018-01-05'])

data = pd.DataFrame([1, 2, 3, 4, 5], index = index)
data.columns = ['data']

print(data)

Alternatively, you may have a dataset that is already created that you wish to import and index by time stamp. Let's try it out with a real dataset. The Mauna Loa monthly mean $CO_2$ dataset contains the monthly mean $CO_2$ mole fraction in parts per million (ppm) from March 1958 through today as measured from the top of Mauna Loa. You can download the most recently updated data from NOAA's website [here](ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt).

In [0]:
# import Mauna Loa CO2 dataset 
CO2_raw = 'https://raw.githubusercontent.com/tamck/TS_Module/master/co2_mm_mlo_csv.csv?token=AJVABFER6YPXQX26LMBAVBK42XN7A'
CO2_data = pd.read_csv(CO2_raw)

CO2_data.head(5)

Now that we've imported the Mauna Loa  CO2  dataset, we want to index by time stamp. To do this, we need to create a new column that combines the year and month and convert it to datetime format and then use set_index to index the time series by time stamp. The inplace = True parameter means that changes will occur in the original dataset.

In [0]:
# create a new column and convert to datetime format
CO2_data['Date'] = pd.to_datetime(CO2_data[['year', 'month']].assign(Day = 1))

# indexing by time stamp
CO2_data.set_index(CO2_data['Date'], inplace = True)

CO2_data.head(5)

Now our time series data set is indexed by time, which will make it much easier to work with. We can also now delete the 'Date' column we created to make the time stamp index because we will not need to use it anymore. We can do this using the `drop` function and its parameter `axis` which can be set to $0$ for `index` or $1$ for `columns`. In this case, we want to remove the column 'Date', so we will set the `axis = 1`.

In [0]:
CO2_data = CO2_data.drop('Date', axis = 1)

CO2_data.head(5)

# 9. Manipulating Time Series in Pandas Part 2

## Resampling

*Resampling* is the process of changing the frequency of your data. Oftentimes, data have either too low or too high of resolution. For instance, the raw dataset can have data that are sampled every second, but you only need data in hour intervals. Alternatively, you may have several time series sampled at different frequencies and you want to compare these to one another. In these cases, resampling is necessary. 

There are two kinds of resampling, *upsampling* and *downsampling*. Upsampling refers to the case where the frequency of data are increased, e.g. changing from months to days, whereas downsampling refers to the opposite case, where the frequency of data are decreased, such as changing from days to months.

Additionally, resampling can be done using either *data aggregation* (where data are resampled by clustering, often using some statistical method, such as taking the mean, of the old frequency data by the new frequency) or *data selection* (where data are resampled just by the chosen frequency and does not factor in data that falls between) Resampling using `Pandas` can be done with the following methods:

1. `resample()` : data aggregation technique.
2. `asfreq()` : data selection technique.

The `resample()` function allows for data to be sampled at a higher or lower frequency and can be modified using the `sum`, `mean`, `std`, `sem`, `median`, `max`, `min`, `first`,  or `last` parameters (see table below for a description of the modifiers).
 
<table>
  <tr>
    <td>
      <b>Modifier</b>
    </td>
    <td><b>Description</b></td>
  </tr>
  <tr>
    <td>`sum`</td>
    <td> downsamples the dataset by taking the sum of the data in intervals set by the new frequency </td>
  </tr>
    <tr>
    <td>`mean`</td>
    <td> downsamples the dataset by taking the mean of the data in intervals set by the new frequency </td>
  </tr>
    <tr>
    <td>`std`</td>
    <td> downsamples the dataset by taking the standard deviation of the data in intervals set by the new frequency </td>
  </tr>
    <tr>
    <td>`sem`</td>
    <td> downsamples the dataset by taking the standard mean error of the data in intervals set by the new frequency </td>
  </tr>
    <tr>
    <td>`median`</td>
    <td> downsamples the dataset by taking the median of the data in intervals set by the new frequency </td>
  </tr>
    <tr>
    <td>`max`</td>
    <td> downsamples the dataset by taking the maximum value of the data in intervals set by the new frequency </td>
  </tr>
    <tr>
    <td>`min`</td>
    <td> downsamples the dataset by taking the minimum value of the data in intervals set by the new frequency </td>
  </tr>
    <tr>
    <td>`first`</td>
    <td> downsamples the dataset by taking the first data value in intervals set by the new frequency </td>
  </tr>
      <tr>
    <td>`last`</td>
    <td> downsamples the dataset by taking the last data value in intervals set by the new frequency </td>
  </tr>
  </table>


**Downsampling** is more straightforward than upsampling. Let's load a [Google Trends](https://trends.google.com/trends/) dataset that shows the monthly popularity of the search term "surfing" from January 2004 - January 2019 and see how different modifiers change when we downsample from month to year frequency.

In [0]:
# code for example above
import pandas as pd
from pandas import datetime
from matplotlib import pyplot as plt

# import dataset 
data = 'https://raw.githubusercontent.com/tamck/TS_Module/master/googletrends_surf.csv?token=AmoAlDgpfOVBZ53hVSSDh1Yoqpf9ksbdks5chvwQwA%3D%3D'
surf = pd.read_csv(data)

# set index 
surf['Month'] = pd.to_datetime(surf['Month'], format = '%Y-%m')
surf = surf.set_index(pd.DatetimeIndex(surf['Month']))
surf = surf.drop('Month', axis = 1)

#print(surf)

# plot original dataset
plt.plot(surf, label = 'Original Data', color = 'dimgray')

# resample by different methods and plot (make plot prettier)
surf_resample_mean = surf.resample('Y').mean()
plt.plot(surf_resample_mean, label = 'Resample, mean', color = 'darkblue')

surf_resample_median = surf.resample('Y').median()
plt.plot(surf_resample_median, label = 'Resample, median', color = 'gold')

surf_resample_min = surf.resample('Y').min()
plt.plot(surf_resample_min, label = 'Resample, min', color = 'firebrick')

surf_resample_max = surf.resample('Y').max()
plt.plot(surf_resample_max, label = 'Resample, max', color = 'limegreen')

surf_resample_std = surf.resample('Y').std()
plt.plot(surf_resample_std, label = 'Resample, std', color = 'darkgreen')

plt.legend()

What can we observe from the above dataset and downsampling methods? First, the overall trend is declining, and there appears to be a seasonal component. Because of the seasonal component, the resampled annual mean and median closely resemble one another. Similarly, because of the seasonal component and because we downsampled from monthly to annual frequency, using the standard deviation to resample strongly deviates from the dataset itself.

**Upsampling** is achieved by resampling followed up by interpolation. *Interpolation* in the context of time series refers to the process of predicting  values at times that were not actually sampled. Upsampling can be done by first using the `resample()` function and then using the `interpolate()` function to fill in the values. 

The `resample()` function in this case is used to create additional rows to match the new frequency. 

The `interpolate()` function by default performs a linear interpolation. A linear interpolation draws a straight line from the beginning to end of the defined frequency and fills in data based on this relationship. Depending on your domain or specific dataset, it may be more appropriate to use a different interpolation method, such as a polynomial or cubic. For more information about different parameters that can be used to modify the `interpolate()` function in `Pandas`, see the  [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.interpolate.html).

Let's now return to the Google Trends 'surfing' dataset, and upsample the frequency from months to days.

In [0]:
# code for upsampling using the resample function and interpolation

# resample data from months to days
surf_upsample = surf.resample('D')

# print first month of resampled values
print(surf_upsample.head(31))

# interpolate missing data at day frequency
surf_interp = surf_upsample.interpolate(method = 'linear')

# print first 2 months of upsampled values
print(surf_interp.head(60))

Occasionally, a data selection technique is sufficient for resampling and can be done using the `asfreq()` function. The `asfreq()` function converts a time series to a new frequency and has two commonly used parameters: `freq` and `method` (for more information about other parameter options, see the documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.asfreq.html)).

The `freq` parameter specifies the new frequency desired, for instance:

`DataFrame.asfreq(freq = 'M')`  selects data in monthly increments.

The `method` parameter specifies how missing values are treated in the newly sampled dataset. Method options include `bfill` and `ffill` for backward and forward fill, respectively. Backward fill means that missing data will have the same value as the value that occurs at the next time index. Similarly, forward fill means that missing data will take on the value that occurs at the previous time index.

The following code demonstrates how to use `asfreq()` to resample data.

In [0]:
# code for asfreq
import pandas as pd
from pandas import datetime
from matplotlib import pyplot as plt

# plot original dataset
plt.plot(surf, label = 'Original Data', color = 'dimgray')

# asfreq bfill
surf_asfreq_bfill = surf.asfreq(freq = 'Y', method='bfill')
plt.plot(surf_asfreq_bfill, label = 'asfreq, bfill', color = 'darkblue')

# asfreq ffill
surf_asfreq_ffill = surf.asfreq(freq = 'Y', method='ffill')
plt.plot(surf_asfreq_ffill, label = 'asfreq, bfill', color = 'green')

plt.legend()